[2017-12-04 22:26] teran-mckinney opened #1 "Bitcoin Cash Fee Estimation API?"
Can't find. Setting fees at 22 Satoshis for high priority and 16 for low priority.

If someone can find one or a couple, would be much appreciated. Probably will matter more 6+ months out from now.

https://github.com/sporestack/bitcash/blob/master/bitcash/network/fees.py

[2017-12-05 20:40] teran-mckinney opened #2 "Fix transaction creation and signing"
Right now our inputs are all messed up. Outputs look kind of okay.

Here's a transaction generated from this script:

[code]

Output:

[code]

Deserialized:

[code]

That was deserialized as mainnet so the addresses are wrong.

I ported this over from https://github.com/bjarnemagnussen/bit/tree/segwit, which is in turn a fork of ofek's bit library.

I am also using electron-cash as a reference: ht

[2017-12-05 21:48] teran-mckinney commented on #2
@ofek, @fyookball, @bjarnemagnussen, wanted to let you know about the bounty in case you were interested. Thank you for your help already.

[2017-12-05 22:04] bjarnemagnussen commented on #2
Since the segwit branch contains a lot of segwit soecific code I think that the cleanest way would be to start with ofek's bit branch and then change the signature generation algorithm found inside ``create_p2pkh_transaction`` with the bip-143 part of my segwit branch. BTW, ofek's original bit branch does not yet support multisig/p2sh.

[2017-12-05 22:14] teran-mckinney commented on #2
Ah, heh. I guess that makes more sense then.

For me, I'm not worried about script hash, multisig, or anything like that.

I appreciate your feedback. If no one jumps on this today I'll probably try that tomorrow.

Thank you!

[2017-12-06 18:46] teran-mckinney commented on #2
Library is now based on the original bit. Will work from there.

[2017-12-06 19:14] teran-mckinney commented on #2
I tried to broadcast a transaction with electron-cash and it said FORKID had to be used. Understandable. I added that in and it says the same thing. Also with blockdozer it says I must use the FORKID. I am not sure if they are throwing a generic error message or if it's not working how I expect it to.

Judging by some older testing, it seems like multiple error types are possible: https://bitcoin.

[2017-12-06 21:09] teran-mckinney commented on #2
I believe I've implemented in the logic. I am hardcoding sequence numbers as I don't know their purpose and everywhere I've seen has them set at 2^32.

In e12676675f3ff7690e4590a559da723edae1c9f8 I am able to generate transactions again. blockdozer says the SIGHASH_FORKID is bad, electron-cash says it's missing inputs.

Deserializing in electron-cash looks just fine. I don't know if any good utili

[2017-12-07 02:44] fyookball commented on #2
i took a look at your transaction.py and it seems to define SIGHASH_FORKID constant and then never uses it ?

[2017-12-07 02:51] teran-mckinney commented on #2
Thanks for taking a look. Yes, I have it defined as a stub. I will use it in the future but Python 3 doesn't have bitwise operations on bytes objects. Instead, I am setting 0x41 instead of 0x01 as the hash type.

[2017-12-07 02:52] teran-mckinney commented on #2
I now have just a CHECK(MULTI)SIG error which I am working through, looking at the spec closely.

[2017-12-07 02:56] teran-mckinney commented on #2
@bjarnemagnussen is this correct? https://github.com/bjarnemagnussen/bit/blob/segwit/bit/transaction.py#L444

I can see that you have scriptCode_len before scriptCode. That does not line up with the specification from what I can tell: https://github.com/bitcoin/bips/blob/master/bip-0143.mediawiki

Not sure if there's a bug or if I am missing something.

[2017-12-07 04:00] teran-mckinney commented on #2
Pushed a couple small tweaks and am stopping for the night. No luck so far. Signature is still bad.

I found the "official" Bitcoin Cash signature doc which looks identical to BIP-143 from what I can tell.

https://github.com/Bitcoin-UAHF/spec/blob/master/replay-protected-sighash.md

[2017-12-07 10:14] bjarnemagnussen commented on #2
Hey @teran-mckinney. Regarding the ``scriptCode_len`` apperaing before ``scriptCode``: The reason is that scriptCode is used in the way that P2SH redeemscript are used in scriptSigs. The redeemscript is provided as a single element in a script with a simple push of 25 bytes. You can see that the scriptCode you reference to in the link under point 5 starts with the script push opcode of 25 bytes (0

[2017-12-07 11:39] fyookball commented on #2
you could also create the same TX in electron cash and step through to see where your code diverges

[2017-12-08 00:49] teran-mckinney commented on #2
Thank you, to both of you. I'm narrowing down the only difference to the hashOuputs. The source is the same, the hash is different. I think there's some slight nuance I'm missing.

[2017-12-08 01:06] #2 closed

[2017-12-08 01:07] teran-mckinney commented on #2
It works!!!

Thank you all for your help. You can see the stupid bug that was there.

Real pain to debug. Took me a few days. I'm glad to have this working so I can start using Bitcoin Cash now.

[2018-01-15 10:27] joemarct opened #3 "Broadcast of raw transaction fails on testnet"
I am getting `ConnectionError: Transaction broadcast failed, or Unspents were already used.` when trying to broadcast a transaction. I'm sure I have unspent transaction output when I did this.

[2018-01-15 19:13] teran-mckinney commented on #3
Ah, yes. So currently testnet only has one API, the Blockdozer API. It goes down fairly often. I would wait and try it again. Most likely that is the reason. But, kind of wonder if we could add some kind of debug logging to give more insight as it's really vague about that.

I want to add more APIs but right now we are in an awkward transitionary phase with the Bitcoin Cash address format. If we c

[2018-02-01 19:44] teran-mckinney commented on #3
@joemarct have you had a chance to look into this more?

[2018-02-01 20:49] teran-mckinney commented on #3
Good news. I actually stumbled across a big issue with testnet.

blockdozer's testnet subdomain switched to HTTPS. They started doing redirects from HTTP to HTTPS. The Python requests library would see the 302 then do a GET on the new URL. Seems kind of like a buggy, weird behavior.

Anyway, I changed the URL so it should work now. I haven't pushed up 0.4.4, but if you are working from the git mas

[2018-02-20 11:02] tea-spoon commented on #1
Looks like you want help. Let's see if using @chaintip helps at all.

[2018-02-20 11:03] chaintip commented on #1
`0.00331961 BCH`| `~   4.97 USD` has [been tipped](https://explorer.bitcoin.com/bch/address/bitcoincash:qqh0ld4tzcsyy6qa7nhagv2rfg8kavznxvlgcdg3g8) to this issue by @tea-spoon.
To claim [this bounty](http://github.chaintip.org/chaintip/bounties/issues/16), get a pull request merged with ```@chaintip fixes #1``` in the creation comment.

[2018-03-05 19:05] adangert commented on #1
I use this right now for my own wallet, although I think the fees may be too high: https://blockdozer.com/insight-api/utils/estimatefee

[2018-03-06 19:15] teran-mckinney commented on #1
Didn't know insight had a fee estimation api. Thanks for sharing.

[2018-03-08 03:54] teran-mckinney opened #5 "Testnet send fails"
So running nosetests will run tests/test_wallet.py which will try to send on testnet.

It makes this transaction: `0100000001fccf6f80010410c7a11b1447801e61ce2c11dae0c60f6952ecfa9e4a4f6c2ff0010000006a47304402201030c0e1e59b799d2cd49bfec5ea86925537a1b28a7add6b29ba315dd6ec057802205068b5962ee57c77512984f67725967bb34e4adc25cab26e7e8325171d4fdc5f4121033d5c2875c9bd116875a71a5db64cffcb13396b163d039b1d93278

[2018-03-08 03:57] teran-mckinney commented on #5
Hrmph.

https://bch-insight.bitpay.com/tx/send can broadast it fine but https://bccblock.info/tx/send cannot. Though it is a testnet transaction, I guess it's valid on both. Wonder if the cashaddress library is not translating correctly for testnet addresses.

[2018-03-08 21:59] OverlordQ commented on #5
I dont think bccblock does testnet, only mainnet.

[2018-03-08 22:09] OverlordQ commented on #5
So pushing it through a local bitcoind works fine:

[code]

Looking up that txid shows it [got broadcast](https://www.blocktrail.com/tBCC/tx/17b50bc1bb49e71a336664c95e61ef00defba28df4b787dfe6dc660c5c9139f5)

[2018-03-09 18:09] teran-mckinney commented on #5
Wow, no kidding. Seems like a bug in Insight.

Thanks for digging into that.

[2018-03-09 20:31] teran-mckinney commented on #5
Ok, this does work:

[code]

Problem seems unique to Blockdozer:

[code]

[2018-03-09 20:34] teran-mckinney commented on #5
I sent a message to Blockdozer via the form on the website.

I should still add the Bitpay Insight API as well.

[2018-03-12 00:01] teran-mckinney commented on #3
More on this in #5. I will close this out and we can continue there if need be.

Thanks!

[2018-03-12 00:01] #3 closed

[2018-03-12 14:22] garceri commented on #5
@teran-mckinney We fixed the issue on blockdozer.com (there was a bad configuration on our load balancer), our apologies for the inconvenients.. Let me know if you need something else.!
And btw, thanks for bringing this to our attention.

[2018-03-12 14:58] teran-mckinney commented on #5
Thank you! No problem at all.

I appreciate you fixing this. I confirmed on my end now that the bitcash tests are passing.

[2018-03-12 14:58] #5 closed

[2018-03-22 11:02] chaintip commented on #1
`0 BCH`| `~   0.00 USD` has now been tipped to this issue.
To claim [this bounty](http://github.chaintip.org/chaintip/bounties/issues/16), get a pull request merged with ```@chaintip fixes #1``` in the creation comment.

[2018-03-26 00:06] expired-brain opened #6 "any possibilities to add dash,ltc or eth?"

[2018-03-26 15:02] teran-mckinney commented on #6
As I said [here](https://github.com/ofek/bit/issues/16#issuecomment-376197013), it's better to fork bit or bitcash and add support rather than try to put it all into one library. That may be possible a ways down the road, but it would be a lot of work to support multiple currencies.

I am certainly curious about all of the currencies you've listed. At this time I am not working on making any libra

[2018-05-16 18:04] teran-mckinney commented on #6
Going to close this for now. Let me know if you have any more questions.

[2018-05-16 18:04] #6 closed

[2018-06-08 11:03] anastasia-bilova opened #7 "Wrong address from PrivateKeyTestnet"
Hello! Thanks a lot for your library!

I have the following problem, when I generate the instance of the `PrivateKeyTestnet` and get the public address I got the address I cannot send money to:
[code]

Even if I compress it, I get the same error called `One or more input or output is invalid`:
[code]

![selection_215](https://user-images.githubusercontent.com/35456560/41154612-4a435b6c-6b23-11e8-9

[2018-06-13 17:07] teran-mckinney commented on #7
Hi Anstasia!

I'm sorry for the wait. Have been out for a few days. I'll take a look into this and get back to you shortly. I do have some test cases with testnet, but my use has all been mainnet, so the odds of a bug with testnet are fairly high.

-Teran

[2018-06-13 18:42] teran-mckinney commented on #7
Okay, turns out this isn't a bitcash bug afterall. ccoin.cash is using the old Bitcoin address format and hasn't updated to [cashaddr](https://github.com/bitcoincashorg/bitcoincash.org/blob/master/spec/cashaddr.md). If you want to use bitcash with ccoin, you'll need to convert the cashaddr to the legacy address.

One site you can do this with is: https://cashaddr.bitcoincash.org

If you want to ke

[2018-06-13 18:45] teran-mckinney commented on #7
Oh, about raw transactions, just use `.create_transaction()` and it will give you something that you can broadcast, just the hex output.

https://github.com/sporestack/bitcash/blob/master/bitcash/wallet.py#L208

[2018-07-06 14:54] anastasia-bilova commented on #7
Teran, thank you so much for your reply!

You helped me a lot, with new converted BCH address everything works!

And thank you for your cool library!

[2018-07-07 11:54] excalibur0922 commented on #7
anastasia-bilova - I found a great library for converting between BCH and legacy addresses natively in python - https://github.com/oskyk/cashaddress - super handy little one to have in your tool belt :)

[2018-07-07 13:09] teran-mckinney commented on #7
You're welcome! Glad I could help.

Though most of the credit goes to @ofek, he wrote the bit library for Bitcoin which I ported this from. He did 99% of the legwork.

[2018-07-09 07:45] excalibur0922 commented on #7
I would also like to thank you for this library. Absolutely amazing. You have made a huge difference to the BCH ecosystem with this, regardless of who did the original core work. Still takes effort to connect all the ports, add extra features, taylor it to BCH and make it work right out of the box.

[2018-07-09 15:18] jbertman opened #8 "Balance x is less than y (including fee)"
First of all, fantastic port of the bit library, things seem to be coming along nicely. This may fit into the dynamic fees problem, but I wanted to see if there was anything I could do to fix it in the meantime.

I have an app that receives transactions and processes the balances to result in changes for the application. The balance is then marked as processed and is (eventually) moved to a cold s

[2018-07-09 19:19] teran-mckinney commented on #7
Thank you! I really appreciate that. I needed it myself and I'm glad you've been able to find it useful as well.

Will close this out for now.

[2018-07-09 19:19] #7 closed

[2018-07-09 19:34] teran-mckinney commented on #8
Hi!

I'm glad you've been finding it useful. Thanks for writing in.

For sweeps, I've just been doing this: https://github.com/teran-mckinney/walkingliberty-python/blob/master/walkingliberty/__init__.py#L92

Sounds like you aren't always sweeping, though. So your outputs less have to be less than the balance of the wallet. The fees don't get taken from the outputs. The leftover_address is where th

[2018-07-09 19:46] jbertman commented on #8
Thanks for getting back so quickly! That makes good sense. I'll probably end up doing sweeps the same way you are.

Thanks for the clarification and pointers. I'll close this for now since it was really just a question, feel free to reopen as needed!

[2018-07-09 19:46] #8 closed

[2018-07-10 11:11] lazygreed opened #9 "Can't get address or balance on testnet"
When I call key.address parameter, it returns PrivateKey, not address (found cashaddress solution)

also key.balance everytime returns 0
when trying to call key.get_unspents() after transaction, it crashes
[code]

[2018-07-10 13:53] lazygreed commented on #9
sorry, expected legacy (shorter) type of address, like in original bit repo

`key.get_unspets` still cryshing untils first confirmation on network
and `key.balance` still 0
[code]

founded another problem, I can't transfer funds
[code]

[2018-07-10 16:12] teran-mckinney commented on #9
This is going to depend on the behavior of the one (or two?) upstream testnet APIs in use.

key.transactions will only show a list of transactions that have been on the network. I could be wrong on that, but creating a transaction (which only returns the hex and nothing else) definitely won't update that. You'll have to send to expect any change there. Even then, that feature could be broken, not

[2018-07-10 16:48] teran-mckinney commented on #9
This is coming from tbch.blockdozer.com. I am making a change to ignore keys without 'scriptPubKey'.

[2018-07-10 17:20] teran-mckinney commented on #9
Alright, I just pushed a commit (but no release) with some improvements. The Blockdozer API made some changes, breaking TX sends for testnet, and changing the unspent format. They don't have pubscripthash on unconfirmed transactions now. We could allow that to be set to None, but may cause other problems.

You may want to contact Blockdozer and get them in the loop on this thread. Not sure how muc

[2018-07-10 17:23] teran-mckinney commented on #9
Also, `key.balance` is only accurate after getting unspents. Or maybe doing a send. It starts at 0, maybe not the best behavior.

[2018-07-10 18:10] teran-mckinney commented on #9
Pushed one more commit. Tests can pass now if the timing is right.

[2018-07-28 13:20] AustEcon opened #15 "Clarification around failed tests"
Just working my way through the testing module. Wanting clarification around 8 failed tests.

1) 1 fail in test_transactions.py - 1 fail due to long_message() - because of change from 40 bytes to 220 bytes limit. **(see PR)**

2) 6 fails in network/test_services.py because CashExplorerBitcoinDotComAPI testnet functions don't actually exist.
- Is this intentional to keep these in? (i.e. maybe you w

[2018-07-30 06:26] lannocc opened #16 "The real-world availability of MESSAGE_LIMIT and OP_RETURN, and API quirks"
After lots of testing, head-scratching, and aggravation, I find the following to be true:

1. 75 bytes is the actual maximum message size.
2. Multiple OP_RETURNS in a single transaction are not supported.

I have not tested whether the above conditions hold true beyond the 2 web APIs used by BitCash or if they also hold when sending directly to a node. Also, these APIs react differently when the a

[2018-07-30 06:50] cyborg0922 commented on #16
Have you tried it with the different OP_PUSH code for when you go above 75 bytes? (As per bitcoin script wiki)? I think 75 bytes is the limit before you need to specify an OP_PUSH (which then gets up up to like 256 bytes).

[2018-07-30 06:53] lannocc commented on #16
I admit I'm still pretty ignorant to the actual standard(s) and protocol requirements, so I have not tried it with OP_PUSH. That's a relief if we can actually get more than 75 bytes. I'll have to dig into the BitCash code a little deeper, and the wiki you referenced, to see what I can do about this and try out your suggestion.

[2018-07-30 06:56] cyborg0922 commented on #16
Oh sweet. It's an easy fix!! I can assure you!! Will be like 4 - 6 lines of code max in the ? construct_output_block().

Just need to add in special case > 75 bytes and they even have provision to go > 256 bytes in that OP codes but I don't know why?? Maybe future proofing...

[2018-07-30 07:08] lannocc commented on #16
Thanks, I'm on it!

Do you have any insight about the rejection of transactions with multiple OP_RETURN vouts? The Script wiki says:

However the Bitcoin.com API always rejects this with my tests, even when both OP_RETURN payloads are very small.

[2018-07-30 07:10] cyborg0922 commented on #16
All I can say on the multiple ORs front, is that I too have had a sporadic go at testing this out and have not had any success. I do wonder if a p2p node might accept though... (like if it came from electrum wallet or something)

[2018-07-30 07:43] cyborg0922 commented on #16
I've got it working. see 8a774d76a65983809d6453a2d52f2046bf126b4394325225fa27b57f6d49b42d for evidence. of 'hello'*40 successfully sent.

I'll do PR now so you can have a look

[2018-07-30 07:44] lannocc commented on #16
I just did a successful test too. Waiting for it to confirm to be sure.

[2018-07-30 07:47] lannocc commented on #16
# Blockchain storage
        else:
            size = len(dest)
            script = OP_RETURN

            if size > MESSAGE_LIMIT_SANS_PUSH:
                script += OP_PUSHDATA_1

            script += size.to_bytes(1, byteorder='little') + dest

            output_block += b'\x00\x00\x00\x00\x00\x00\x00\x00'

[2018-07-30 07:48] cyborg0922 commented on #16
Yeah mine is:
            if custom_pushdata is False:
                script = OP_RETURN

                if len(dest) <=75: # (https://en.bitcoin.it/wiki/Script)
                    script += len(dest).to_bytes(1, byteorder='little') +  dest
                elif len(dest)<=256:
                    script += b"\x4c" + len(dest).to_bytes(1, byteorder='little') +  dest # OP_PUSHDATA1 format

[2018-07-30 07:57] lannocc commented on #16
I think yours might be more future-proof, moving into OP_PUSHDATA_2 :)

This got me curious though, since the size has been appended immediately after OP_RETURN when there is no OP_PUSHDATA, how does a node parse the byte immediately following OP_RETURN to know whether it's another OP vs the payload size? Now I understand the 75 byte message limit. A message size of 76 bytes would look exactly lik

[2018-07-30 08:14] lannocc commented on #16
Have you seen https://github.com/grantcoin/grantcoin/blob/master/contrib/counterpartyd/lib/bitcoin.py ? That `serialize()` function is a beauty. Notice how it too seems to imply that multiple OP_RETURN is supported. I'm going to try this against my running node.

[2018-07-30 08:21] cyborg0922 commented on #16
I hadn't no. But yes that IS a beauty. haha. They have that nice op_push() in there too which does what we have just been talking about (they go up to OP_PUSHDATA4... do we want it? ;) )

And yeah... good question about the parsing over the data... I don't know.

[2018-07-30 08:38] cyborg0922 commented on #16
ahh right. So do you think that the choice of 75 was simply decided by how much room they had left for op codes up to a limit of 255... + a bit of extra room in case they want to add in more later on... Otherwise 75 just seems very arbitrary and a strange choice for where to settle on... I guess if you have enough leftover space for op codes up the other end of the scale... then you might as well

[2018-07-30 08:48] lannocc commented on #16
Yeah it must be something like that. I only just realized that there are no opcodes 1-75, so it is in fact defined that anytime you expect to read an opcode and see a non-zero value < 76 then that value is meant to be the length for data to push onto the stack. Or, put differently, opcodes 1-75 are all PUSHDATA ops that don't require a size, as their opcode number IS the size.

I'm with you, it mu

[2018-07-30 13:33] teran-mckinney commented on #16
Wow, this is awesome. Sorry for the lack of response, I've been traveling. Feel free to send an email if I'm not checking in, say every 24 hours.

[2018-07-30 13:35] teran-mckinney commented on #15
1. Can you fix that?

2. Those weren't failing on my end but we can pull them out, unless those are generic ones and will be fixed by adding another testnet endpoint. Only have the one. Would rather add a second testnet endpoint and have those tests working, unless they are API-specific and not generic NetworkAPI.

3. That should work, but the whole thing is kinda glitchy. Needs to be made more ro

[2018-07-30 19:48] cyborg0922 commented on #15
1. Yep included in custom pushdata PR
2. I'll see if it's possible to get these working...or if it's an API issue.
3. Okay. That's all good. Just wondered. Thanks :)

[2018-07-31 01:35] lannocc commented on #16
Only issue remaining here is the multiple OP_RETURN support. I recommend we simply raise an exception for now if multiple OP_RETURN outputs would be created, since the API does not accept them. I can submit a pull request that does this if you agree.

[2018-07-31 01:47] cyborg0922 commented on #16
I think that's fair enough. Saves ppl trying to relay txn and wondering why it's not working.

[2018-07-31 01:47] lannocc opened #18 "Signing and verifying messages"
I spent most of today trying to implement message signing in a portable manner so that bitcoind or Electron-Cash can be used to verify the message, without success.

I've made it as far as constructing the message in the same manner and double-hashing it so the exact same hash is sent to the underlying wallet._pk signing function (and passing `hash=None` since it's already been hashed manually) an

[2018-08-02 15:10] czelusniakdawid opened #19 "TypeError: can't concat str to bytes when amount is 0"
Suppose we have output which includes amount `0` eg:
[code]
If `dest` is string there will be a `TypeError` on the following line:
https://github.com/sporestack/bitcash/blob/master/bitcash/transaction.py#L195
`TypeError: can't concat str to bytes`.

Please make sure that `dest` is always `bytes` eg. by:
`dest.encode()`.

Thank you!

[2018-08-02 16:13] teran-mckinney commented on #19
@cyborg0922 @lannocc, with your changes are there any conditons where you can have an unspent output with 0 satoshis?

For regular spending this would be not necessary, is that correct? I think this is more for OP_RETURN type stuff.

Thanks for reporting this. Lots of recent changes I still need to catch up on.

[2018-08-02 16:14] teran-mckinney commented on #18
That would be really cool. Too much for me to look into now, but definitely like the idea of having that functionality.

The low level bits can get very tricky, or at least time consuming to debug.

[2018-08-02 16:15] teran-mckinney commented on #15
Sounds good, thank you! No problem.

[2018-08-02 18:59] lannocc commented on #19
I think I only changed the handling of `message` (try str.encode() first then just assume it's already bytes) and the size of `MESSAGE_LIMIT`, but I've done some other hacking on it locally too so I don't quite remember everything I touched. I'll look into it this weekend since I also need to pull down the latest merge.

[2018-08-02 19:48] cyborg0922 commented on #18
I can't help you on this sorry. A part of me would like to try for the challenge but would be irresponsible wrt other commitments

[2018-08-02 20:10] cyborg0922 commented on #19
I'm at work so can't read code but I think what may be going on here is that if you directly create a txn without using sanitize_tx()... then you skip the part that iannoc added and then construct_output_block () throws this error in the op_return section because it's trying to append dest to op_return bytes. Bitcash was designed to only flow through sanitize_tx (). But I think it's an easy fix by

[2018-08-02 20:34] czelusniakdawid commented on #19
@cyborg0922 yes, I call `create_p2pkh_transaction` function directly and maybe that's the point. If library is designed in a way that calling `sanitize_tx_data` is a necessary step then this issue can be closed. Thank you for your help!

[2018-08-02 20:34] #19 closed

[2018-08-03 01:40] devalbo commented on #16
I love the activity going on with bitcash. I've been using it for a project of mine and been able to successfully create transactions on testnet with multiple OP_RETURNS (see https://test-bch-insight.bitpay.com/api/tx/af6cbfdf7160d59f50199f81fa0f3c9de8710104b2cdf61ffdcd2ec0729118ae ). If you make multiple OP_RETURNS raise an exception, could you make suppressing the exception an option since it is

[2018-08-03 06:37] cyborg0922 commented on #19
@czelusniakdawid I kinda agree that it'd be good if `create_p2pkh_transaction` worked without error codes aswell. All I meant is that the original creator of "bit" seemingly intended for us to use the Wallet.py functions under the `PrivateKey` class and `PrivateKeyTest` class.
- e.g. `my_key.Create_transaction` always runs a `sanitize_tx()` before it returns `create_p2pkh_transaction()` as the las

[2018-08-07 02:01] teran-mckinney commented on #15
Hey! I'm getting failed tests now.

`nosetests -vx`...

[code]

Can you take a look into this?

[2018-08-08 04:05] ztlovemst11 opened #22 "how can I get the privatekey of key()'s address"
I want to keep my address's privatekey

[2018-08-08 04:36] lannocc commented on #22
There is `to_hex()`, `to_wif()`, `to_pem()`, etc. in the Key (PrivateKey) class.

[2018-08-08 06:32] ztlovemst11 commented on #22
thank a lot

[2018-08-08 06:32] #22 closed

[2018-08-08 06:39] ztlovemst11 commented on #22
@lannocc I am sorry , something is still make me confused
when I use "key = Key()"
It return a statement "<PrivateKey: bitcoincash:qre5yyzq2e3fq60vwk5qkk6n6qjxqkqe4u9jlwm7e8>"
is it use "bitcoincash:qre5yyzq2e3fq60vwk5qkk6n6qjxqkqe4u9jlwm7e8" as a seed to generata a privatekey?

[2018-08-08 06:45] ztlovemst11 commented on #22
is it safe for us?
Will the private key leak out?

[2018-08-08 09:00] lannocc commented on #22
@ztlovemst11: `key = Key()` creates a new private key, as you discovered. Use `key.address` to get the public address. With the methods I indicated above, you can get the private key in different formats. It will be up to you to save them securely for future use. But let's assume you used `key.to_hex()` to get the private key hex value. Then, in the future you can do `key = Key.from_hex(your_priva

[2018-08-08 09:02] ztlovemst11 commented on #22
thank you a lot , I get it

[2018-08-08 09:04] lannocc commented on #22
Looking at the code some more, there is `PrivateKeyTestnet` that you should probably be using for testnet stuff. `Key` is an alias for `PrivateKey` which is meant for mainnet. Both `PrivateKeyTestnet` and `PrivateKey` (aka `Key`) have the same methods.

[2018-08-08 09:07] cyborg0922 commented on #15
My internet is down atm and I have some serious deadlines at work. I don't know when I will be able to. I can't think of why anything I've changed would affect testnet... I can look when I get internet back and see if I can generate the same error code though

[2018-08-08 09:13] lannocc commented on #22
@ztlovemst11 Testnet addresses will begin with `bchtest:`

[2018-08-13 08:09] ztlovemst11 opened #23 "How can I create an offline transaction?"
I want to sign the transaction offline before sending a transaction ，at the same time, I can get the fee to broadcast the transaction. So that if the fee is  too high, I can cancel sending.
I don't know how to actually generate a transaction, because all the introductions are simple.

[2018-08-13 08:15] ztlovemst11 commented on #23
eg: >>> key.create_transaction([('1Archive1n2C579dMsAu3iC6tWzuQJz8dN', 190, 'jpy')])

what means the param '190' and 'jpy?'

[2018-08-13 09:14] ztlovemst11 commented on #23
when I user key.send([("n2eMqTT929pb1RDNuqEnxdaLau1rxy3efi", 10000, 'satoshi')]),
it always error!!!
Traceback (most recent call last):
  File "E:/zt_6.27/py2/testBCH5.py", line 7, in <module>
    print(private_key.send([("n2eMqTT929pb1RDNuqEnxdaLau1rxy3efi", 10000, 'satoshi')]))
  File "E:\zt_6.27\python\lib\site-packages\bitcash\wallet.py", line 584, in send
    outputs, fee=fee, leftover=leftov

[2018-08-13 09:35] ztlovemst11 commented on #23
Has anyone changed the code recently and hasn't updated it yet? All instances of creating a transaction have failed, and all returned are TypeError: object of type 'NoneType' has no len()

[2018-08-13 10:05] ztlovemst11 commented on #22
@lannocc  Can you help me see what is going on with this problem?

[2018-08-13 18:06] lannocc commented on #22
that ticket is closed

[2018-08-14 01:56] ztlovemst11 opened #24 "OMG!!Are all the apis destroyed? I can't get the balance even"
Traceback (most recent call last):
  File "E:/zt_6.27/py2/testBCH6.py", line 8, in <module>
    print(key.get_unspents())
  File "E:\zt_6.27\python\lib\site-packages\bitcash\wallet.py", line 489, in get_unspents
    self.unspents[:] = NetworkAPI.get_unspent_testnet(self.address)
  File "E:\zt_6.27\python\lib\site-packages\bitcash\network\services.py", line 319, in get_unspent_testnet
    raise Con

[2018-08-14 03:47] ztlovemst11 commented on #24
testnet api has expired!!!please update

[2018-08-14 04:11] teran-mckinney commented on #15
Alright, thanks for letting me know. Sorry for the wait on my end.

I'll take a stab unless I see something from you on it. I just don't want to assume anything about the code and break what you've written.

[2018-08-14 04:14] teran-mckinney commented on #23
Are you using the latest git release? Can you try the last pip released version? 0.6.2 or something like that. I ran into some issues as well in testing, maybe the issue is wider spread.

You can see #15 talking about some of this.

I think jpy is is Japanese Yen, and 190 of them. It doesn't work as we don't have that features in bitcash, it comes from bit.

[2018-08-14 04:16] teran-mckinney commented on #24
Can you investigate this? Can you find another testnet API? Maybe it's just down for a little while.

I'll check later. I generally use mainnet, but I agree that testnet should be working.

[2018-08-14 04:25] teran-mckinney commented on #15
Ok, thanks for letting me know! Appreciate your contributions thus far :).

[2018-08-14 07:37] ztlovemst11 commented on #24
I am very sorry about this, the test network is not smooth now, maybe I should go to the main network test

[2018-08-14 07:41] ztlovemst11 commented on #23
I get it！thank very much

[2018-08-14 07:41] ztlovemst11 commented on #23
I am sure I am using the latest version, but I found that some places are different from those on github, especially servers.

[2018-08-14 08:57] #24 closed

[2018-08-14 08:57] #23 closed

[2018-08-14 09:18] ztlovemst11 opened #25 "Sorry about that I have a question about the txid after the transaction..."
After successfully broadcasting a transaction using the NetworkAPI.broadcast_tx() method, how do I get the txid for this transaction? Because it is not in the data returned. I would like to ask if there is a solution in bitcash. If not, I guess I need to rely on some APIs to decode the generated transaction tx_hex and get txid from it.But it will deal with very slowly.

[2018-08-14 09:32] cyborg0922 commented on #25
There is a method called "get_transactions ()" in the ?? PrivateKey class.

I.e. your_key.get_transactions () should give you a list of txids... not exactly what you want but you will find it as the one at ?? Index 0 position I think.

[2018-08-14 09:36] ztlovemst11 commented on #25
Thank you for your answer, I successfully got the latest transaction txid.

[2018-08-14 17:03] devalbo commented on #18
I'm glad it's not just me having this issue. I've been able to verify generated messages within the library, but not with another (bitcoincashjs). I've spent a night trying to verify signed messages with https://bitcoincashjs.github.io/#Examples and not having any success. Unfortunately, I don't have anything to add other than additional insight would be very helpful.

[2018-08-15 01:39] #25 closed

[2018-08-15 02:16] ztlovemst11 commented on #25
@cyborg0922 Can you recommend some methods for generating bch keystore?

[2018-08-15 07:18] ztlovemst11 opened #26 "How do I get the actual fee before sending the transaction?"
I find an explanation in bitcash:
bitcash.network.fees import get_fee
Fee = get_fee(speed='medium')

the fee displayed on the real network,let me name it realFee
Fee != realFee(904 satoshi)
What did bitcash do to calculate the value of realFee?
I want to get the actual fee before sending the transaction.
I look forward to your reply.

[2018-08-15 07:35] cyborg0922 commented on #26
If you throw in fee = 1, 2 or 3 etc.. into a key.send () command or any of those other "create transaction" type functions, it will calculate the fee as 1, 2 or 3 sat/byte respectively... fee calculation should work pretty nice now after recently being fixed.

[2018-08-15 07:47] cyborg0922 commented on #25
Not sure sorry. Not off top of my head. Can't afford to delve into these matters these days...

[2018-08-15 08:00] ztlovemst11 commented on #26
Thank you for your answer.
I am very much looking forward to a better solution.
Now how can I get the size of the rawtx of transaction?

[2018-08-15 08:09] ztlovemst11 commented on #26
I don't know if this is right? But the calculated value is the same as the real network feel.
fee_byte = get_fee()
tx_hex_len = len(tx_hex)
tx_hex_half = tx_hex_len/2
fee = fee_byte * (tx_hex_half+1)

[2018-08-15 18:02] teran-mckinney commented on #26
Do a length on the transaction, I guess it should be hex so divide by two.

Eventually will use an api to pull recommended fee values, for now it's hard coded.

Yes, there's lots broken. Feel free to send PRs.

Why are you so concerned about fee amounts? They are super low in Bitcoin Cash.

[2018-08-16 02:59] ztlovemst11 commented on #26
I am not worried about whether it's fee is too high. The fee of bch is lower than other virtual currency I know. In fact, I just want to let the sender know the fees to be spent before the transaction, so that they don't need to worry if this trade will exceed their budget, or the balance on his account.
thank you very much.@cyborg0922  @teran-mckinney.
Your patient explanation has benefited me a

[2018-08-21 02:40] #26 closed

[2018-08-21 02:46] ztlovemst11 commented on #25
OK,it is alright.Can I ask a less professional question? BTC , BCH, and LTC, their offline signature method can be in common use?

[2018-08-21 11:34] teran-mckinney commented on #25
They are pretty common, I don't think they are vulnerable to what I know.

[2018-09-21 17:32] tracyspacy opened #27 "How to send tx from P2PKH address to P2SH address?"

[2018-09-21 19:31] teran-mckinney commented on #27
I don't think bitcash supports P2SH, even with the recent patches. bit supports P2SH now, as of very recently.

[2018-09-21 20:17] tracyspacy commented on #27
sad, do you plan to add P2SH support in near future? or could you recommend how can I do it myself?

[2018-09-23 03:08] teran-mckinney commented on #27
I'd love to add it in but have no reason to work on it, myself.

I would look over bit's history and the recent commits here. It's a ton of complex work.

[2018-11-28 09:35] AustEcon opened #28 "Latest ABC / SV contentious hardfork"
Hi Teran! What are you up to these days?

What is the best way to contact you to chat privately? I am interested in maybe porting bitcash over to the latest system but I'm not sure what side of the fence you're on with that and just wanted to discuss around it a bit.

There are heaps of javascript libraries out there but I think it's really nice to have a python one - even if it's basic. You never

[2018-11-28 20:14] teran-mckinney commented on #28
Hey!

Been busy, less technical work lately. email or Bitmessage. BM-2cUbcEfGKbVN16aVusiYDeBAtb1gj3q98M or sega01 shift+2, go-beyond.org.

Haven't followed the fork much. Probably leaning more towards ABC but happy to discuss either way.

Thanks for your message.

-Teran

[2019-01-27 01:57] AustEcon commented on #28
I've just now relocated the repo to https://github.com/AustEcon/bitsv
Available on pypi:  https://pypi.org/project/bitsv/

[2019-01-27 16:43] teran-mckinney commented on #28
Hey,

That is great to hear. I'm a bit busy now but I am interested in learning more about SV.

Let me do my research and get back to you.

Thanks,

Teran

[2019-01-27 20:08] AustEcon commented on #28
Sure thing mate. Open invitation to discuss over Skype or whatever too.

[2019-03-22 15:17] merc1er opened #29 "Fiat currency API endpoint is incorrect"
`key.get_balance('usd')` gives an error as the API url is incorrect.

`'https://bitcashpay.com/api/rates/'` is called, but it should be `'https://bitpay.com/api/rates/'`. Also, BitPay defaults to BTC for crypto to fiat conversion, but they do give the BCH/BTC ratio in the same API call 😃.

The broken URL is located in `network/rates.py` at line 102.

Is anyone going to be able to fix that?

[2019-03-22 15:53] BUYMERCIER commented on #29
Ah I managed to fix that.
@teran-mckinney could you please merge #30 and deploy to `pip`? 👍

[2019-03-29 15:15] #29 closed

[2019-03-31 09:51] #28 closed

[2019-04-01 10:52] zhtet036 commented on #27
zhtett036agmail.com

[2019-04-01 10:53] zhtet036 commented on #25
zhtett036@gmail.com

[2019-04-16 07:42] Lafudoci opened #31 "Does it support SLP token?"
I'm implementing BCH and SLP token into my tipperbot. The part of BCH was done with this nice lib. However, I didn't figure out the way to get balance and make transaction of SLP token with this lib. If it's possible, could you elaborate how to do it? Thank you.

[2019-04-16 08:33] merc1er commented on #31
Bitcash doesn't seem to support SLP tokens at this point.

[2019-04-16 16:38] teran-mckinney commented on #31
Not familiar with SLP tokens, personally. There were some patches added for some kind of token-esque support. I've been pretty out of the loop on these new developments. May want to look through the recent pull requests and see if something you need is in master. I haven't cut a new release in a while.

[2019-05-01 13:18] merc1er commented on #1
Default fee was set to 2 sat/byte

[2019-05-01 15:09] teran-mckinney commented on #1
I think this is a nice to have some day, but in reality BCH will rarely ever get fees piling up and this might not be too important for a while.

[2019-06-11 15:40] libercash opened #39 "Search strings in OP_RETURN"
I think that providing a functionality to search strings inside op_return will be nice.
Using fountainhead.cash (BitDB for BCH) makes it easy.

I'm new to coding, but I've write a script to provide this functionality that could be later extended and even used for SLP tokens:

[search.txt](https://github.com/sporestack/bitcash/files/3277638/search.txt)

What do you think? Also, I believe that some

[2019-06-11 17:02] teran-mckinney commented on #39
This is pretty cool. Unfortunately, haven't looked into SLP or done anything with OP_RETURN. I think someone else will have to chime in here.

[2019-06-11 21:17] libercash commented on #39
I'll take a look at SLP tokens and try to integrate them in bitcash, although my technical knowledge is limited. Electron Cash SLP edition is written in Python, that's a good start.

[2019-06-11 21:20] teran-mckinney commented on #39
Alright. I think there was some work done already on SLP, may want to look around the pull requests here. Might be worth pinging a few of the people already involved.

[2019-06-16 15:17] libercash opened #40 "#ConnectionError: Transaction broadcast failed, or Unspents were already used."
I've been playing around with Bitcash sending memos and I found a bug.
Once a Bitcash wallet is fund, I can send an OP_RETURN message with the following command:
key.send([], message = "foobar", leftover = key.address)

But if I try a second time I get this error:
ConnectionError: Transaction broadcast failed, or Unspents were already used.
Status code is 400: the tx is not well constructed.

The

[2019-06-17 00:23] teran-mckinney commented on #40
Yes, I think you are right. You have to manually get unspents or get balance (which does the same thing) sending one and then another.

I don't think I'd want send to always get unspents because there's many cases where you send, program exits, run it again later, etc. Unless you can think of a good way to implement a fix that wouldn't slow down the common case of sending one transaction at a time

[2019-06-17 14:29] Gz75y45ms3kc commented on #40
I've been running into similar problems, but have not been able to get anything to work with key.get_balance() nor key.get_unspents(). Could you please expand on what's going on, and the fix should work? The first transaction that worked: [link](https://blockchair.com/bitcoin-cash/transaction/ffbcb7d441dad6f829754c681d41e70721082d5d5e4930c03859bd913c59a925)
Code:
[code]

[2019-06-17 17:19] teran-mckinney commented on #40
@Gz75y45ms3kc what wasn't working, exactly? It said unspents were already used? Is this the first time you run the script or the second? Are you waiting for confirmations?

That TX is a couple of months old.

[2019-06-17 17:44] libercash commented on #40
@teran-mckinney Hi Teran, now I know it I will just take in mind. I find the get_balance() function pretty fast, so I don't think it will slow down sending tx a lot.
 @Gz75y45ms3kc Your code gives a 400 error. Instead of sending 1 sat to your own address thus making additional outputs, just use this:

`
key = wif_to_key(PRIVATE_KEY)
my_balance = int(key.get_balance())
print("Address: %s" % key.add

[2019-06-17 18:10] teran-mckinney commented on #40
Understandable, but sometimes the API may succeed getting unspents and broadcasting, then fail getting unspents after. So should `send()` throw an exception, a warning, or suceed? I guess I'm being pedantic. I'm used to seeing a lot of the various APIs go pretty slowly so I like to interact with them as little as possible.

You can wrap your code with three backticks (`). So using dashes, instead

[2019-06-18 15:55] libercash commented on #40
Hi @teran-mckinney now I know how to embed code. I understand your argument, Bitcash already works well enough.

@Gz75y45ms3kc About sending memos, I think it's a interesting use case for many dApps developers.
Here is my approach, it works fine but the API throws a 400 error if there's some strange character like "ñ". The trick is the custom_pushdata parameter.

[code]

[2019-06-19 10:33] Gz75y45ms3kc commented on #40
Thank you @teran-mckinney and @libercash for your help with this. The code is working now and is following the memo cash protocol: [link](https://blockchair.com/bitcoin-cash/transaction/56066f657fb316d5e23464e00904731cd110632d1cc2367c2dbe03e1bf068d6c)
Even though the transactions are going through, the code is saying something went wrong:
[code]
Is this something I should be worried about?
Can eit

[2019-06-19 15:09] libercash commented on #40
@Gz75y45ms3kc Hi! It seems that broadcast_tx function returns None. As the API output is printed, this simplified code is enough:

[code]

The ideal behaviour for broadcast_tx could be to return the TX ID, as send() does. Anyway, it works so you shouldn't be worried about it.
I don't know very much about programming and Bitcoin script, the only way to learn is to read Bitcash docs, the code itself

[2019-06-20 10:18] Gz75y45ms3kc commented on #40
@libercash The transaction ID can be worked out from the raw transaction (switched to the testnet for testing):
[code]
I think I'm getting the hang of it now, and this is enough for what I need. Thanks again for your help!

[2019-06-27 16:32] libercash commented on #31
The first issue adding SLP tokens support is output order. By default, Bitcash adds first the standard outputs and then messages. According to SLP token specification, the first output should be a OP_RETURN. Additional OP_RETURN outputs in M position could be needed (i.e Mint baton).

Changing sanitize_tx_data could be enough? The ideal could be passing an outputs list with mixed messages and P2PK

[2019-06-27 16:44] teran-mckinney commented on #31
Possibly, I've yet to look into this or any OP_RETURNs.

[2019-07-03 11:49] Gz75y45ms3kc commented on #40
Blockdozer is giving me a 503 server error: [link](https://tbch.blockdozer.com/api/addr/bchtest:qzysm9e9ccgjn0pemkmy5ycsmhlky4p6wq0324pa3h/utxo)

And since Blockdozer is needed for get unspents, the actual posting of the transactions doesn't (reliably) work either. I have discovered there is now a testnet API on bitcoin.com: [link](https://trest.bitcoin.com/v2/address/utxo/bchtest:qzysm9e9ccgjn0pe

[2019-09-04 03:12] teran-mckinney opened #41 "Rates is broken"
Same issue as https://github.com/ofek/bit/issues/83

[2019-09-04 03:37] #41 closed

[2019-09-04 04:32] teran-mckinney opened #42 "cashexplorer.bitcoin.com was taken down, replace with api.bitcore.io?"
Some progress here: https://github.com/teran-mckinney/bitcash

[2019-09-09 22:12] merwane opened #43 "Push the latest release to PyPI"
Please push the latest release with the new RATES API on PyPI

[2019-09-10 21:13] teran-mckinney commented on #43
Hi!

I'm sorry for the wait. It seemed like Bitpay fixed the old endpoint.

I'll go ahead and push, regardless. Will update when I do.

Thanks,

Teran

[2019-09-10 21:41] teran-mckinney commented on #43
Ok, should be pushed up.

Can that you were having problems with the old version and that this fixes it?

[2019-09-10 23:22] merwane commented on #43
Problem solved on 0.5.2.9
Thanks!

[2019-09-10 23:22] #43 closed

[2019-10-23 21:28] #9 closed

[2019-11-17 17:20] teran-mckinney opened #45 "Blockdozer is broken and the API gives 200s"
This is a pretty bad situation as bitcash is being told everything is okay when it's not.

[2019-11-22 06:23] merc1er commented on #45
#46

[2019-11-22 06:24] merc1er commented on #42
I don't thing cashexplorer.bitcoin.com was ever a thing (it's explorer.bitcoin.com).
But now the API is located at rest.bitcoin.com.

I added bitcore support in #46. I would like implement rest.bitcoin.com support for redundancy :)

[2019-11-22 15:03] teran-mckinney commented on #42
Looks like this API blocks Tor users so does cause issues that way.

[2019-12-01 16:36] teran-mckinney commented on #45
Hey @merc1er, may have something.

What do you think about this?

https://github.com/gcash/bchd/issues/322

https://github.com/gcash/bchd/blob/master/bchrpc/documentation/client_usage.md#python

https://medium.com/@bchd.cash/announcing-the-bchd-grpc-api-16b3a833292e

Live BCHD endpoint: bchd.greyh.at:8335

If this API works as intended, I can look into running a bchd myself, if needed.

Thank you!

[2019-12-01 22:38] merc1er commented on #45
Thanks!
This looks interesting, but I cannot find the API endpoints documentation.

I am thinking about using this: https://rest.bitcoin.com/

It is very well documented and Bitcoin.com is probably one of the most reliable service providers for Bitcoin Cash.

[2019-12-01 23:16] teran-mckinney commented on #45
Gotcha, I guess that is a good start for now then. gRPC is a little different, the library gets generated for you.

[2019-12-05 14:56] merc1er commented on #45
rest.bitcoin.com is implemented in #47 :)

[2019-12-08 19:35] merc1er commented on #42
This issue should be fixed by #47

Both rest.bitcoin.com and api.bitcore.io work for me on Tor Browser. Are you still experiencing this issue?

[2019-12-08 19:37] merc1er commented on #45
@teran-mckinney can you close this?

[2019-12-08 19:52] teran-mckinney commented on #45
Yup, thank you!

[2019-12-08 19:52] #45 closed

[2019-12-08 19:57] teran-mckinney commented on #42
Ok, off topic:

[code]

Is it really a GET request for sending a TX? Not a POST? Also gives me a 404, but over Tor. Not sure over clearnet.

Looks like Tor Browser works with https://rest.bitcoin.com/v2/address/utxo/bitcoincash:qzfyvx77v2pmgc0vulwlfkl3uzjgh5gnmqk5hhyaa6 but the library does not. If you curl it, it blocks it (`torsocks curl`). So rest.bitcoin.com needs to configure Cloudflare to no

[2019-12-08 20:37] merc1er commented on #42
Yes, for a single transaction it is a GET.
You can also use POST for multiple transactions (as per the docs on rest.bitcoin.com).

Regarding Tor, I will ask the Bitcoin.com team if they can expedite this.

[2019-12-08 21:03] merc1er commented on #15
I think this can be closed too @teran-mckinney :)

[2019-12-09 00:37] teran-mckinney commented on #42
Gotcha. Thank you!

[2019-12-09 00:38] #15 closed

[2019-12-26 12:20] merc1er commented on #42
@teran-mckinney could you close this? 👍

[2019-12-26 18:40] #42 closed

[2020-01-05 23:35] teran-mckinney commented on #42
@merc1er thanks for finding this issue! https://github.com/Bitcoin-com/rest.bitcoin.com/issues/333

Good to know we have an answer now.

[2020-01-07 00:08] merc1er commented on #1
Could we close this @teran-mckinney?
BCH transactions with a fee equal to or greater than 1 satoshi per byte should always be accepted. There is no need for a fee estimation API 😄

On an other note: maybe the default fee for bitcash should be 1 sat/byte instead of 2?

[2020-01-07 00:24] merc1er opened #56 "Travis CI fails"
I noticed that Travis CI often fails one of the jobs:
https://travis-ci.org/sporestack/bitcash/builds/633534082?utm_source=github_status&utm_medium=notification

Python 3.7 for example here but it sometimes is 3.6 or 5. I never get this locally.

It seems that it is always `private_key.send` failing, I am not sure why. Maybe some jobs are concurrent and that messes the UTXO set for `key.get_unspen

[2020-01-07 00:52] teran-mckinney commented on #1
Sure. I'm open to 1 sat/byte.

[2020-01-07 00:52] #1 closed

[2020-01-08 19:35] merc1er commented on #56
I get Cloudflare 520 errors:

[2020-01-09 00:40] teran-mckinney commented on #56
What did you get the Clouidflare errors from?

I am guessing the tests are running in parallel and the unspents change too quickly so one ends up failing. If they were in series this might be fine.

[2020-01-09 09:40] merc1er commented on #56
I think rest.bitcoin.com is experiencing issues, I have seen people complain recently. I also experience these in the browser sometimes.

[2020-01-09 16:35] teran-mckinney commented on #56
I see. That's likely the case then. I should see about serializing the Travis builds either way.

[2020-01-09 17:29] merc1er commented on #56
Seems it's fixed: https://travis-ci.org/sporestack/bitcash/builds/634510119?utm_source=github_status&utm_medium=notification

[2020-01-09 17:29] #56 closed

[2020-01-09 22:02] teran-mckinney commented on #56
Nice! Hope it wasn't just luck.

[2020-02-13 18:26] selfdrivingmenee opened #59 "Error when trying to get Tx Details from BchTestnet using NetworkAPI.get_transaction_testnet"
When trying to get details of an existing transaction on the Testnet the following error is raised:

Traceback (most recent call last):
  File "4GetTxDetails.py", line 11, in <module>
    transaction=NetworkAPI.get_transaction_testnet("_[redacted]_")
  File "/usr/local/lib/python3.6/dist-packages/bitcash/network/services.py", line 489, in get_transaction_testnet
    return api_call(txid)
  File "/

[2020-02-17 13:34] selfdrivingmenee commented on #59
Seems that the bug it's that there is no "/tx/" in blockchain.com rest api but instead it's https://rest.bitcoin.com/v2/transaction/details/$TxId

[2020-02-17 16:15] teran-mckinney commented on #59
Thanks for looking into that. Let me get back to you.

[2020-02-20 04:40] teran-mckinney commented on #59
Yeah, this is definitely broken.

@merc1er, it looks like get_transaction is broken on bitcore and on rest.bitcoin.com. Do you know if this was changed recently or maybe broken to begin with?

[2020-02-20 06:31] merc1er commented on #59
I'm pretty sure it was broken to begin with. I am working on this.

[2020-02-20 07:39] merc1er commented on #59
This is somewhat fixed at https://github.com/merc1er/bitcash.

Tested with:

[code]

This should return:
`0d840c0351f554fa2579e7d47c025ab5d22eb1d4ca34126b7eaa8f5195a2a849 in block 623076 for 18471968 satoshi (18471159 sent + 809 fee) with 3 inputs and 4 outputs`

`37e22c74c09f61a03d4e9fd64602c716fa65377cf3561dc9bab7ac12a25483ee in block 1173910 for 1095999600 satoshi (1094999600 sent + 1000000 fee

[2020-02-20 10:40] merc1er commented on #59
Ok after testing this is working for all transactions except coinbase transaction because they do not have inputs.

Example:
[code]

If anyone can look into it feel free to submit PRs to `merc1er/bitcash`.

[2020-02-21 05:56] merc1er commented on #59
Fixed in #60

[2020-02-21 15:03] teran-mckinney commented on #59
Thank you, @merc1er! @selfdrivingmenee, can you test master and see if it works for you?

[2020-03-08 10:50] SKlayer opened #61 "Schnorr Sign needed."

[2020-03-10 22:09] teran-mckinney commented on #61
Could you elaborate?

[2020-03-10 22:09] teran-mckinney opened #62 "`black` the codebase"
https://github.com/psf/black

What do you think?

[2020-03-11 10:42] SKlayer commented on #61
Sorry， Schnorr sign of bch tx are more efficiency than legency secp256 sign. and it can reduce tx size and more performance. i belive schnorr will displace secp256 sign.

[2020-03-17 04:52] #61 closed

[2020-03-17 04:52] SKlayer commented on #61
i impl one.

[2020-03-17 15:50] teran-mckinney commented on #61
Do you want to submit a pull request?

[2020-04-07 08:48] merc1er commented on #62
Great! I've always wanted to reformat the code, didn't know about black. Looks like a solid project!

[2020-04-07 09:09] selfdrivingmenee commented on #59
Working thanks!

[2020-04-07 09:09] #59 closed

[2020-04-07 09:35] selfdrivingmenee opened #63 "Fallback to bitcore.io fails when trest.bitcoin.com is returning error"
**Boundary conditions:**

- trest.bitcoin.com when queried for the balance of an address ( and some other APIs) returns a json contaning a single key named 'error' with a string value containing a description of the error (seems their system is having some problem in reaching their local fullnode)
- bitcore.io api is up and running

**Test I made (and not made), both from my laptop with crappy con

[2020-04-07 09:45] merc1er commented on #63
It seems that the fallback does not work for `key.get_balance('bch')`

A temporary way to fix this:
[code]

The `get_balance()` method's fallback works.

I will investigate the issue with the 'bch' argument.

[2020-04-07 13:50] selfdrivingmenee commented on #63
Doesn't work for me.
The few times it works it's the few times the trest.bitcoin.com API works.
Seems to me that the lib fails to call the second API.

[2020-04-07 14:17] merc1er commented on #63
I just learned that `trest.bitcoin.com` was intentionally taken down as no longer maintained.

[2020-04-13 16:27] selfdrivingmenee commented on #63
ouch! I imagine still that this bug propagates to the non- test version on the library tho

[2020-04-15 22:03] selfdrivingmenee commented on #63
I forked you to do some testing. I'll add a different differnet API provider and submit pull request to your repo. May you look in why the fallback to seconday API was failing? Thanks :-)

[2020-04-20 09:48] Gz75y45ms3kc commented on #63
@selfdrivingmenee Which provider are you looking at? I've found this one, which should have testnet support: [https://api.fullstack.cash/docs/ ](https://api.fullstack.cash/docs/ )

[2020-04-20 14:36] merc1er commented on #63
I've also been looking at this one, very similar to rest.bitcoin.com and even fast.
My only concern is that the free tier has very low API limits: only 3 requests per minute allowed 🤨

But would be good to include it as a fallback!

[2020-04-21 10:28] selfdrivingmenee commented on #63
I swapped the current fallback API with the main one and things got back in working order.
As a fallback API I'm testing (not in the lib) cryptoapis.io , they require a (free) API key but being a(lso, with "paid" key)  commercial provider they offer an SLA so I think it's interesting to have them supported.

Side node: main chain (and even some nodes on the testnet) accepts max one OP_return per e

[2020-04-22 04:16] merc1er commented on #63
@selfdrivingmenee did you remove trest.bitcoin.com? I think it is safe to remove it as no longer operational.

If you haven't started working on a PR yet, I'll open one.

[2020-04-22 04:28] merc1er commented on #63
@selfdrivingmenee did you start working on a PR already?

If not, I will start working on fixing this.

[2020-04-22 17:37] selfdrivingmenee commented on #63
Not working on a PR yet. As my 2c goes, I'd first take advantage of the non-operative bitcoin.com trest to fix the fallback system and then add another provider :-)
I'll update you on how my search for a provider goes

[2020-04-25 07:16] merc1er commented on #63
@selfdrivingmenee could you test #65 on your end?

I tested it in a few different ways:
- editing the main endpoint's URL to an incorrect URL (ex: https://trest.bitcoin.com/1nc0rrect/)
- blacklisting trest.bitcoin.com in my `Hosts` file
- blacklisting main endpoint domain name in my router's DNS

Travis-CI is down for now, but all tests passed locally.

[2020-04-25 19:06] selfdrivingmenee commented on #63
Working on my side, thankyou!!!
I did my testing, I'd suggest cryptoapis.io as the backup one introducing an initialization variable "API KEY". They work great and also allow for a very easy commercial integration.

[2020-04-25 19:06] #63 closed

[2020-04-26 14:40] #62 closed

[2020-04-28 14:45] Lafudoci commented on #31
I have tried to build SLP tx manually but no success. It seems the issue is on the outputs order and SLP address recognizing. But I have not enough experience to imporve the code. Hope someone could help. SLP token is a promising feature to me.

[2020-04-28 16:24] merc1er commented on #31
I agree!

I will try to look into the SLP spec and the transaction part of the code. If someone wants to help with building SLP transactions, that would be awesome as I can easily take care of the balance and broadcast part of it.

[2020-04-29 07:26] merc1er opened #66 "Remove network.fees and change default fee to 1 sat/byte"
Currently, if a `fee` argument is not passed to `send()` or `create_transaction()`, the function `network.fees.get_fee()` is called and returns 2 (default fee of 2 satoshi per byte).

We could simplify the code by removing `network.fees` as it is no longer needed with Bitcoin Cash (the fee is always predictable and does not change over time like BTC).

Instead, we could add the default argument of

[2020-04-29 16:01] teran-mckinney commented on #66
If we do this, 1 should still be a constant so it can be changed if needed.

What will happen if Bitcoin Cash has a backlog of transactions? Isn't it good to be able to raise your fee in that case to have priority? I realize it's a lot less likely than Bitcoin being overloaded, but it's entirely possible

[2020-04-30 00:50] merc1er commented on #66
Fee can still be passed as an argument of send().

For example, Key.send([outputs], fee=10).

[2020-04-30 02:36] teran-mckinney commented on #66
I see. Probably could just go to a constant like DEFAULT_FEE then.

[2020-05-10 16:37] mrx23dot opened #67 "add request money URI generator"
Please add a method to generate receive money links, eg:
key.request_money_uri(amount_bch=0.001, label="Product one", msg="thank you")

format:
bitcoincash:<address>[?amount=<amount>][&label=<label>][&message=<message>]
details: https://github.com/bitcoin/bips/blob/master/bip-0021.mediawiki

This URI could be used for 3rd party QR generator library.

[2020-05-10 19:22] teran-mckinney commented on #67
These are so easy to generate that I've never once bothered.

I'm open to adding it, just not convinced it needs it.

[2020-05-11 17:33] #67 closed

[2020-05-11 20:06] mrx23dot opened #68 "get_balance() returns string"
PrivateKey().get_balance('bch') returns string '0', instead of float (like key.balance), could be relevant for other APIs.

Or do we expect non float content?

[2020-05-11 20:56] mrx23dot commented on #66
Less network access is always better, official bitcoin BCH android wallet has these settings:
low prio: doesn't say (what could be lower than 1?)
default prio: 1satoshi/vByte
high prio: doesn't say

Maybe an optional network function would be useful that returns the required fee to ensure we are included in the next block, thus fastest possible transfer, without wasted satoshi.
As I calced current

[2020-05-11 21:52] teran-mckinney commented on #68
I thought it was supposed to return an int() of Satoshis, but it's been a while.

Float is a bad idea because the precision won't match up correctly.

[2020-05-11 22:06] mrx23dot commented on #68
'0'

'0'

Eg. for non-native currencies like 'usd' behind the scene json returns '0.000122', casting it to float doesn't change the precision 0.000122
There always will be rounding errors for non native currencies, that's expected.
Yeah, float is a bit wasteful for satoshi. We shouldn't mix the return types, either string or float, your call.

[2020-05-11 22:09] teran-mckinney commented on #68
I don't think I would mess with it. I think string is okay because you want to handle it in some kind of BCH type anyway. It's not the cleanest approach, maybe passing it as a BCH type would be ideal but I think this has been working okay for some time.

Rounding errors are something I want to avoid because this stuff code is almost entirely used by payment handling. Being off by a Satoshi could m

[2020-05-12 22:27] mrx23dot commented on #68
Sounds alright.

[2020-05-12 22:27] #68 closed

[2020-05-17 12:52] Lafudoci opened #69 "P2SH does not correspond to a mainnet nor testnet P2PKH address"
When I tried to send BCH to this address:
`bitcoincash:pz5vmkpnxu7x4a5u9r0uftw0f42mqqxkgcjwwtjqgk`
I got this error: P2SH does not correspond to a mainnet nor testnet P2PKH address

It seems the issue is from that the API doesn't handle the P2SH script locking address well?

[2020-05-17 16:06] teran-mckinney commented on #69
I don't think there's any P2SH support in bitcash. bit has it, though. Might be able to be ported over but yours is the first P2SH address I have seen.

[2020-05-19 15:55] Lafudoci commented on #69
it sounds not easy to make it work. The address was from the BitoPro exchange.

[2020-05-19 16:07] teran-mckinney commented on #69
Yeah, not simple at all. It was a lot of work on the bit branch. So some of the legwork is done, but it'd probably be pretty tough to port over.

I'm not sure how big Bitcoin Cash is on P2SH, might be worth investigating but I am busy with other things right now.

[2020-05-26 19:06] dkaparis opened #70 "Testnet addresses not working"
I try some simple testnet transactions from a funded address, however it raises `ValueError: Transactions must have at least one unspent.`

`get_balance()` method keeps returning 0.

Likely reason is the bitcoin.com testnet explorer is down (it shows no new block data and the latest transactions I can find there are from May 15th.)

Any option to use an alternative service?

[2020-05-26 19:34] teran-mckinney commented on #70
What version are you using?

Should have been fixed in 0.5.3.5. See issue #63

But, might need more work.

[2020-05-26 19:59] dkaparis commented on #70
bitcash.__version__ is 0.5.3.5

Could it be the case that the bitcoin.com server is not returning error, just empty data?

[2020-05-26 20:06] teran-mckinney commented on #70
It depends. It might be giving a false positive return of 0. But if it's returning any kind of error, we should be throwing an error rather than giving you back 0.

[2020-05-26 20:15] dkaparis commented on #70
I don't know the bitcash internals, but some simple tests with http://trest.bitcoin.com/ show that the API is indeed reporting zero balance for these addresses. It appears the service was not upgraded past May 15th and is not aware of any new transactions.

Any easy way to switch the default service endpoint to use as a workaround?

[2020-05-26 20:40] teran-mckinney commented on #70
That's not good. I hope they fix that.

https://github.com/sporestack/bitcash/blob/master/bitcash/network/services.py#L386-L396

You should be able to get rid of the BitcoinDotCom references there. Let me know if that fixes it for you.

[2020-05-27 02:58] merc1er commented on #70
Trest.bitcoin.com is no longer maintained.
I will submit a PR to remove it.

[2020-05-27 03:17] teran-mckinney commented on #70
Thank you, @merc1er!

[2020-05-28 04:50] merc1er commented on #70
Done! #71

@dkaparis could you please try that these changes work for you too? Repo: merc1er/bitcash

[2020-05-28 04:55] merc1er commented on #70
Also, I didn't remove trest.Bitcoin.com altogether as I was told it's "holding on by the skin of its teeth". They are currently waiting on the testnet indexer to catch up.

[2020-05-28 06:22] teran-mckinney commented on #70
Looks good to me. @dkaparis if this works for you, I'll go ahead and merge it.

[2020-05-28 11:16] dkaparis commented on #70
Just tried it, works for me.

[2020-05-28 15:42] teran-mckinney commented on #70
Great! Do you need a new release as well? @merc1er, do you know if we had anything else ready for a new release?

[2020-05-28 16:14] merc1er commented on #70
I would like to update the transaction fee thing (#66) but I haven’t started working on it yet.

[2020-05-30 10:34] merc1er commented on #70
Let’s close this @teran-mckinney?

[2020-05-30 16:46] teran-mckinney commented on #70
Ok!

[2020-05-30 16:46] #70 closed

[2020-06-13 15:01] haplo commented on #66
"Fractional satoshis" are [in the Bitcoin Cash roadmap](https://www.bitcoincash.org/roadmap.html), it would be a necessity to keep transaction fees low if the value of BCH went up.

[2020-06-28 06:35] #40 closed

[2020-09-20 07:23] damascene opened #75 "Testnet data isn't updated well"
I've noticed that testnet data isn't being updated and I get wrong results when I query for address balance or transactions.

I've compared the results with http://testnet.imaginary.cash/ data and I found that bitcash testnet data is not updated.

![image](https://user-images.githubusercontent.com/411046/93706043-2d46c680-fb2b-11ea-8c7c-74cc886d2630.png)

Would be useful to know sources or add mor

[2020-09-20 21:28] teran-mckinney commented on #75
Agreed, the testnet API(s) might well be out of date.

[2020-09-21 18:17] merc1er commented on #75
Seems like trest.bitcoin.com is no longer maintained.

Do you know alternatives? http://testnet.imaginary.cash/ seems to only be an explorer (also doesn't support HTTPS)

[2020-09-23 17:57] merc1er commented on #75
I talked with the guys at https://cryptoapis.io but they only support calls with authentication. I think we want to avoid that ideally

[2020-10-05 09:13] merc1er commented on #75
Both Bitcore and trest.bitcoin.com are unmaintained and highly unreliable.

Here are three options I am thinking about:
- change provider (not ideal)
- host our own infrastructure (I am looking into it for testnet)
- use a different way of communication with nodes (e.g. Fulcrum via sockets)

[2020-10-05 20:36] teran-mckinney commented on #75
Do you think costs for hosting our own could be covered?

[2020-10-06 05:14] merc1er commented on #75
That would be awesome. I also know a company that will deploy instances of rest.bitcoin.com to the public - not sure exactly when but they're working on it.

In the meantime I could run my own server - the testnet chain is apparently "only" 55 GB.

[2020-10-06 05:27] merc1er commented on #31
This is being worked on 🚀

No ETA at this point, but a team of devs is looking into it.

[2020-10-06 05:30] #27 closed

[2020-10-07 18:15] teran-mckinney commented on #75
Will it run on a spinning disk or do we need a SSD?

[2020-10-07 18:32] merc1er commented on #75
HDD is enough

[2020-10-07 20:06] teran-mckinney commented on #75
What API would we run on it?

I see a $7/month server on OneProvider that could handle it.

[2020-10-08 04:47] merc1er commented on #75
With 60+ GB of storage? Also I haven't tried on testnet, but for mainnet you would need a better CPU and more RAM than what basic VPS usually offer.

[2020-10-08 14:51] teran-mckinney commented on #75
Yeah, 128GB SSD or 1TB HDD.

I see, it may be the best way to go.

[2020-10-29 07:29] merc1er commented on #75
I am setting up a local testnet node + rest API at https://trest.merc1er.com using [BCH-toolkit](https://github.com/actorforth/bch-toolkit).

It is harder than expected, Bitcoin.com closed source one of the key components, breaking most of the REST API's features 😅. But @actorforth have been working on a replacement that needs to be adjusted and should work just fine soon.

[2020-10-30 03:42] teran-mckinney commented on #75
Ah, wow. Nice work!

[2021-01-22 13:33] merc1er commented on #75
https://insomnia.fountainhead.cash - this is probably a better option

[2021-01-22 19:36] teran-mckinney commented on #75
Great find. That is promising.

[2021-01-24 15:42] #66 closed

[2021-02-22 01:16] KenNewcomb opened #91 "Incorrect balances when calling key.get_balance('satoshi')"
Recently, the balances that I'm getting from key.get_balance() have been incorrect. Does anybody know what could be the issue?

Edit: Bitcoin.com may be having issues right now.

[2021-02-22 04:53] merc1er commented on #91
Rest.bitcoin.com was down, and Bitcore is unreliable.

We are working on replacing both APIs with our own infrastructure.

[2021-02-22 07:17] merc1er commented on #91
This should now be resolved. If not, feel free to reopen the issue @KenNewcomb

[2021-02-22 07:17] #91 closed

[2021-02-23 18:23] merc1er commented on #75
This does not seem to support testnet out of the box though

[2021-02-23 19:14] merc1er commented on #75
It does have a server for testnet: https://insomnia-testnet.fountainhead.cash

[2021-03-01 14:52] kcsb4 opened #92 "PrivateKeyTestnet.prepare_transaction() doesn't let me set a message"
I'm trying to prepare a transaction using  "PrivateKeyTestnet.prepareTransaction".

The following code works as expected:
`tx_data = PrivateKeyTestnet.prepare_transaction(key.address, [(key.address, amount, currency)], leftover=key.address)`

I'm able to prepare the transaction and sign it. I then send the transaction with a rpc call to a node installed on my machine that broadcast it.

When I do

[2021-03-01 15:50] teran-mckinney commented on #92
Definitely sounds like a bug to me. We should probably start using type hints in bitcash either way.

[2021-03-08 06:59] nicolaiskye opened #93 "Installing development dependancies results in 'FileNotFound' error"
# Description
When attempting to build and test the Bitcash library in an isolated environment, installing the development dependancies (needed for running tests) results in an error. Despite this error occurring, running `python3 run_tests.py` afterward still does appear to work. I'm able to run all tests successfully.

# Steps to Reproduce
1. Clone Bitcash repo
1.5. (Optional. Setup virtual envi

[2021-03-13 04:59] Lafudoci opened #94 "Alternative REST API"
It seems rest.bitcoin.com is so unstable lately. This situation makes my service relied on bitcash lib not usable. Is there any alternative way that I can recover this?

[2021-03-13 05:12] merc1er commented on #94
My services are down as well because of this. I am actively looking into a solution (see `insomnia` branch for example), but I think a most efficient solution would be to self host some kind of API.

https://github.com/actorforth/bch-toolkit offers this, but it is not yet ready for mainnet (only works for regtest at this point). Whenever this is ready, we will be switching the main API to it.

[2021-03-31 14:41] teran-mckinney commented on #93
Interesting. I'll have to try reproducing this sometime. I haven't used Python 3.9 yet. Might be part of it.

[2021-04-03 06:24] Lafudoci opened #95 "Unable to sweep all the balance when more than 10 UTXOs"
I have a function for moving all funds of an wallet to another wallet.
The code is following.
`key.send([], unspents=key.get_unspents(), leftover=receive_address)`

But it seems the max input counts was limited by 10 inputs. So it did not move all the balance.
https://explorer.bitcoin.com/bch/tx/09af7b957aa7c80cf9b06f71d7546752287bea0689008bd774160f3f9df086ce

How could I raise the limit? Or is th

[2021-04-05 05:23] teran-mckinney commented on #95
This is likely an issue with the API returning only ten unspents. What you're doing is fine.

I think @merc1er was looking into other APIs. It might fix this.

[2021-04-05 05:55] merc1er commented on #95
All APIs are unreliable, and rest.bitcoin.com will be shut down very soon.

I am looking into a self hosted alternative but there are still some issues when running mainnet. I'll keep you updated.

[2021-04-09 15:37] Lafudoci commented on #95
It seems they move endpoint to Fullstack.cash for increasing service stability. Could this endpoint be a drop-in-replacement for bitcash? At least for sort term. It's better to have a self-host option for long term.

[2021-04-09 15:49] Lafudoci commented on #95
But I could get all unspents directly from the endopoint:
`https://rest.bitcoin.com/v2/address/utxo/qqmwupya3dm466q600xcxhunc766ucl3pszs3tsjsk`

That's why I wonder how were the inputs limited by 10 when sending tx with bitcash.

[2021-04-11 09:59] merc1er commented on #95
Sadly not. Fullstack.cash is highly unreliable and most of the endpoints are different or return different data.

I should have a self-hosted instance of rest.bitcoin.com ready for use with BitCash in the coming days.

[2021-04-14 01:38] ghost opened #96 "Going into lockdown"
Deleting my account. Sorry guys.

[2021-04-14 01:40] teran-mckinney commented on #96
My Telegram got banned randomly.

[2021-04-16 07:06] merc1er commented on #96
I hope everything gets better for you. Thank you for all your contributions.

[2021-04-16 07:06] #96 closed

[2021-04-16 11:03] merc1er commented on #93
Are you still having this issue @nicolaiskye ?

[2021-04-21 13:54] merc1er commented on #94
#98 fixes this @Lafudoci

[2021-04-21 14:31] #94 closed

[2021-04-21 14:54] Lafudoci commented on #95
@merc1er I applied #98 , but I still got no more than 10 outputs in transaction.
https://explorer.bitcoin.com/bch/tx/b074fec21b59c5afab0c9065ba2c72f0ac9cfdb652053555daf215fc7210781f

Does that mean the limitation was set in the lib? But I couldn't find it :(

[2021-04-21 14:55] merc1er commented on #95
@Lafudoci could you share a code snippet so that I can reproduce?

[2021-04-21 15:00] Lafudoci commented on #95
Sure, here is my code
[code]

[2021-04-22 05:54] merc1er commented on #95
This worked perfectly fine for me:

[code]

[2021-04-22 06:05] merc1er commented on #95
Please provide with a fully reproducible code snippet @Lafudoci, including private key with prepared UTXOs (testnet or you can DM it to me if you prefer: same username on Twitter and Telegram).

Closing this for now.

[2021-05-01 04:20] Lafudoci commented on #95
I think I figured out. Previous the bitcoin com API only return 10 outputs sometimes(maybe due to server resource loading-balance), so I could only sent 10 max UTXO. Not sure if the new API biggestfan follows the same behavior?

Then lately I got exception ConnectionError. It's actually a HTTP code 413 (Payload Too Large) by trying to use complete unspents list to send raw transaction. So it seems

[2021-05-02 05:28] merc1er commented on #95
Great! So does that mean it worked with version `0.6.3`?

[2021-05-02 15:37] Lafudoci commented on #95
Oh, I was using 0.6.2, and now I don't have huge-unspent wallet for testing on 0.6.3.

[2021-05-02 17:07] merc1er commented on #95
0.6.3 uses the biggest fan endpoint. So the UTXO issue should be solved but probably not the large payload one.

[2021-05-09 00:42] Lafudoci commented on #95
I'm going to close this since the large payload issue was not actually related to bitcash. And the API stability should have resolved by changing endpoint. Thank you.

[2021-05-09 00:42] #95 closed

[2021-05-09 00:44] Lafudoci commented on #31
Hi, any update here? NFT becomes really hot now. I really need this cool thing!

[2021-05-10 08:09] merc1er commented on #31
maybe @nicolaiskye can give you an update on this

[2021-06-03 15:50] Freet-Bash opened #100 "can i use it to mine bitcash?"

[2021-06-03 19:26] merc1er commented on #100
You can't

[2021-06-03 19:26] #100 closed

[2021-06-15 11:07] Gz75y45ms3kc commented on #92
Have you tried create_transaction() instead? Make sure you set custom_pushdata=True

[2021-06-15 11:11] Gz75y45ms3kc opened #101 "Errors with get_unspents()"
I'm getting an error with get_unspents() roughly half the time. The problem seems to be that sometimes the BitcoinDotComAPI is called (which isn't working) and sometimes it's BitcoreAPI (which is). Can the BitcoinDotComAPI.get_unspent() method be removed from NetworkAPI?

[2021-06-15 11:44] merc1er commented on #101
What version of BitCash are you running?

[2021-06-15 11:46] merc1er commented on #101
`BitcoreAPI` is actually not working and being removed from the codebase. As for the main API, it is customisable and you can replace it with your own node if you find the public on unreliable (even though it has been reliable for me so far).

[2021-06-15 15:04] Gz75y45ms3kc commented on #101
I'm using 0.6.3, the latest as far as I can tell. I was getting errors with get_unspent() for both mainnet and testnet yesterday. Testnet uses the trest.bitcoin.com API which is shutting down. I figured out how to call the BitcoreAPI.get_unspent() directly. Mainnet uses rest1.biggestfan.net which should be fine? I'm not getting any errors today, so I can close the issue.

What's wrong with Bitcore

[2021-06-16 13:57] merc1er commented on #101
Would you have timestamps or more data on the failing requests for `rest1.biggestfan.net`? This is something @nicolaiskye and @nexerino might be interested in.

It has been very unreliable in the past. I haven't tried it recently, but we have a better solution now.

[2021-06-17 10:45] merc1er commented on #101
#102 makes it more easy to customise API endpoints

[2021-06-18 05:25] #101 closed

[2021-06-18 07:09] merc1er commented on #75
You can now customise the testnet endpoint with your own node running [BCH-toolkit](https://github.com/ActorForth/bch-toolkit) by setting the `BITCOINCOM_API_TESTNET` environment variable as per https://pybitcash.github.io/bitcash/guide/node.html.

[2021-06-18 07:09] #75 closed

[2021-06-20 08:11] merc1er commented on #31
No support at this point, this is being worked on but no ETA.

[2021-06-20 08:11] #31 closed

[2021-07-07 15:56] LivioZ opened #104 "message option (OP_RETURN) not working"
So I tried to send a transaction with optional message field, but without an address and/or with 0 value, there is an error, if I put an address and a value > 0 it goes on but the final transaction has not a OP_RETURN (obviously(?)). Thanks for helping.

[2021-07-08 09:52] merc1er commented on #104
You cannot send a transaction without output or with 0 value.

Could you provide a minimal reproducible example?

Here is a code snippet that works as expected:

[code]

[2021-07-08 10:29] LivioZ commented on #104
Oh ok, thank you for that snippet, that's all I needed, I didn't know how to exactly put the parameters for an OP_RETURN transaction, maybe put this example in the docs?

[2021-07-08 10:29] #104 closed

[2021-07-08 14:38] merc1er commented on #104
It should already be there as an example: https://pybitcash.github.io/bitcash/guide/advanced.html#blockchain-storage-op-return

[2021-07-08 14:54] LivioZ commented on #104
Yea, but those
`...`
in
`key.send(..., message='Simplicity level is over 9000!!!')`
were not explicit enough for me.

[2021-08-02 08:49] LivioZ opened #105 "Issue with unspents"
Hello, the issue is, a few days ago a successfully sent a transaction with the .send function. Today I tried again and got an error about unspents, so i did a little bit of debbuging and I found out that unspents do not get updated before the call to `self.unspents` in the create_transaction function before the sanitizing, so I added `or NetworkAPI.get_unspent(self.address)` here instead of `or se

[2021-08-02 09:20] merc1er commented on #105
Could you provide a minimal reproducible example?

[2021-08-02 09:21] #93 closed

[2021-08-02 09:36] LivioZ commented on #105
This
`self.__wallet.send([], fee = 1, message = binascii.unhexlify(msg))`
 where the message is an hexadecimal string. That's all I did.

[2021-08-02 09:38] merc1er commented on #105
You need to call `wallet.get_unspents()` before. Or `wallet.get_balance()`. Does that solve the issue?

[2021-08-02 09:44] LivioZ commented on #105
100% would solve the issue (and it does), but is it intended to work this way? And I don't know why it worked days ago.

[2021-08-02 09:45] merc1er commented on #105
Yes it is intended as per the docs https://pybitcash.github.io/bitcash/.

[2021-08-02 09:46] #105 closed

[2021-08-02 09:47] merc1er commented on #105
Maybe in a future major version, send could take care of collecting unspents. I am happy to receive pull requests and potentially include such a change later on.

[2021-10-18 16:11] ghost opened #106 "send() no longer pulls in unspents"
It looks like send() no longer gets unspents. I can get_unspents() and I'll get them, and if I don't pass the unspents to send(), it'll say there are none. If I pass the unspents as an argument to send(), it works fine.

Is this intentional? Seems like different behavior than I remember.

Thank you!

[2021-10-18 16:35] #106 closed, assigned to nobody

[2022-01-13 19:17] goodatdrowning opened #113 "ValueError: "0" is an invalid base58 encoded character. on PrivKeyTestnet"
I'm just getting started using this library, and the examples work OK.

However, when I try to use my own Testnet private keys, it throws an error:

k2 = PrivateKeyTestnet('TESTNETKEYGOESHERE')

I thought it might be an invalid format of address, so I made a new address then used k.to_wif() to get the private key and tried that, and it's still throwing this error (I'll leave the key since it's jus

[2022-01-14 04:52] merc1er commented on #113
`qp0srrxty5840ht02avj3qsgu6hppux0dsjutfy5ud` is not a valid private key. Looks like a public key without prefix.

[2022-01-14 04:52] #113 closed

[2022-01-14 04:55] merc1er commented on #113
Here is a tutorial on how to use `to_wif()` and other basic concepts: https://read.cash/@merc1er/python-bitcoin-cash-part-2-65c70f27

[2022-04-29 15:46] merc1er opened #114 "Remove hex_to_wif() from documentation"
The function is documented but not present in the code base.

[2022-06-16 16:07] kratatomi opened #115 "ConnectionError: All APIs are unreachable"
A program I develop based on BitCash worked without issues since the last days.
I started to get a ConnectionError every time I tried to broadcast a tx: "Transaction broadcast failed or unspends were already used". Now, all APIs are unreachable. I don't use any custom API, does BitCash use rest1.biggestfan.net as default? Is it giving troubles to anyone else?

EDIT: Despite the "All APIs are unrea

[2022-06-16 23:38] merc1er commented on #115
Yes I'm having the same issue. Will reach out to BiggestFan.

[2022-06-21 20:42] kratatomi commented on #115
Just to leave some more info, reading the docs it seems that BitCash uses BitPay API. Browsing https://bitpay.com/insight/#/ALL/mainnet/home I found that a 429 error is raised for BCH and many other networks:
`Error 429: Http failure response for https://api.bitcore.io/api/BCH/mainnet/block?limit=5: 429 Too Many Requests `

[2022-06-21 22:06] merc1er commented on #115
BitPay is used to calculate the fiat rate.

Yes I tried sending transactions through the web interface directly and it worked. It also works if I query the UTXO, wait 1 second then broadcast the transaction.

I will try to write a script that reproduces the issue so I can investigate this with BiggestFan

[2022-08-13 16:06] willcharlton commented on #115
I'm not sure if this is related or not, but I am getting the same error when trying to `get_transactions()`.

### Code
[code]

### Output

[code]

[2022-08-23 05:52] merc1er commented on #115
@willcharlton could you submit a minimal reproducible example?

With that I would be able to investigate this issue further.

[2022-08-23 06:02] merc1er commented on #114
Done in d5d044d7c531f360f77e7ff46afef78b3e87e1e9.

[2022-08-23 06:02] #114 closed

[2022-10-24 19:08] enty8080 opened #116 "How to sweep all BTC from wallet"
Hi, @OverlordQ

Thanks for your library, but I have a question.

How to sweep/withdraw all BTC from BitCash wallet to custom address (another wallet, coinbase for instance)?

By sweeping I mean send every BTC and leave only that part which is needed for paying fee. Or if it is not possible, how to calculate the fee in order to know how much BTC I should leave for paying this fee?

Waiting for your

[2022-10-24 22:06] merc1er commented on #116
BitCash only supports Bitcoin Cash (BCH). You will want to use `bit` for BTC.

[2022-10-24 22:06] #116 closed

[2022-11-19 00:13] merc1er opened #117 "ERROR: Could not build wheels for coincurve"
For those facing the `ERROR: Could not build wheels for coincurve, which is required to install pyproject.toml-based projects` issue on macOS, use:

[code]
 and then install the requirements again.

[2022-11-19 00:14] merc1er commented on #117
Source: https://ofek.dev/coincurve/install/#macos

[2022-11-19 00:14] #117 closed

[2022-11-26 19:58] yashasvi-ranawat opened #118 "Unsupported hash type ripemd160"
Tested on OpenSSL 3.0.2, Python 3.10, Linux Ubuntu 22.04 LTS.

Hashlib raises ValueError: unsupported hash type ripemd160, in ripemd160_sha256 function in crypto.py. Found the reason for the issue [here](https://stackoverflow.com/questions/72409563/unsupported-hash-type-ripemd160-with-hashlib-in-python).

The stackoverflow answer details how to enable legacy crypto algorithms, but I think a defaul

[2022-11-26 20:46] merc1er commented on #118
How does this impact BitCash?

[2022-11-26 21:06] yashasvi-ranawat commented on #118
BitCash uses the hash160 (ripemd160_sha256) function to convert public keys to cashaddress and public key hashes for output locking script of P2PKH outputs. This affects the primary functionality of BitCash as a P2PKH wallet.

hash160 uses the hashlib of python, which uses the OpenSSL implementation of ripemd160 which no longer works by default (as tested on OpenSSL 3.0.2, Python 3.10, Linux Ubunt

[2022-11-26 22:52] merc1er commented on #118
I am unable to reproduce this.

Can you send a minimal reproducible example?

[2022-11-26 23:08] yashasvi-ranawat commented on #118
[code]

I tested this on OpenSSL 3.0.2, Python 3.10.6.
Apparently [OpenSSL had already marked ripemd160 as legacy algorithm](https://github.com/openssl/openssl/issues/16994). Do check if you have already enabled legacy_sect as noted [here](https://stackoverflow.com/questions/72409563/unsupported-hash-type-ripemd160-with-hashlib-in-python), if you are on the same version of OpenSSL.

This is what m

[2022-11-26 23:13] merc1er commented on #118
This works on my environment (macOS, Python 3.10.6, LibreSSL 3.3.6).

[code]

[2022-11-26 23:16] merc1er commented on #118
I can try to reproduce in a different environment.

What would be a way to solve this within BitCash? And how much work would that involve?

[2022-11-26 23:21] yashasvi-ranawat commented on #118
It seems its a OpenSSl only problem. Other bitcoin libraries have dealt with the same: https://github.com/bitcoin/bitcoin/issues/23710.

Most straightforward way would be to code python native ripemd160 code, as done [here](https://github.com/bitcoin/bitcoin/pull/23716)

[2022-11-26 23:27] merc1er commented on #118
Seems pretty straightforward:

[code]

Would you be willing to submit a PR for that?

[2022-11-28 22:35] merc1er commented on #118
I am able to reproduce. Looking forward to merging this change 👍🏻